.mini-calendar {
  --cellSize: 1.75rem;
  max-inline-size: 12.25rem;
  margin: auto;
  padding: 2rem;
  background: var(--arid);
  border-radius: .4rem;
}

.mini-calendar-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: .25rem;
}

.mini-calendar__date {
  background: var(--greenDark);
  color: var(--white);
  padding: .5rem;
  border-radius: .3rem;
}

.mini-calendar__navigation__button {
  margin: auto 0;
  margin: 0;
}

.mini-calendar__navigation__button img:active {
  transform: scale(.9);
}

.mini-calendar-header {
  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: var(--cellSize);
  text-align: center;
  line-height: var(--cellSize);
  margin-block-end: .25rem;
}

.mini-calendar-header__weekDay {
  color: var(--white);
}

.mini-calendar-month {
  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: repeat(6, var(--cellSize));
  text-align: center;
}

.mini-calendar-month__Day {
  line-height: var(--cellSize);
  color: var(--white);
}

.mini-calendar-month__Day--selected {
  background: var(--greenDark);
  color: var(--white);
  border-radius: 50%;
}

.mini-calendar-month__Day--inactive {
  color: var(--dark);
}