:root {
  --green: #43F8A2;
  /* --greenTwo: #40E19B;
  --greenTrhee: #3ACA8E;
  --greenFour: #34B585;
  --greenFive: #2C9B76;
  --greenSix: #28856B;
  --greenSeven: #206E5F;
  --greenEight: #1B5755;
  --greenNine: #16404B; */
  --greenDark: #102A3E;
  --gradiantHome: radial-gradient(var(--green) 0%, var(--greenDark) 100%);
}

body {
  background: var(--gradiantHome);
  border: 1px solid red;
  min-block-size: 100vh;
  margin: 0;
}