@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;400;600;700&family=Roboto:wght@100;300;400;700&display=swap');
@import 'wrapper.css';
@import 'header.css';
@import 'menu.css';
@import 'hero.css';
@import 'steps.css';

:root {
  --white: #ffffff;
  --green: #43F8A2;
  --greenDark: #102A3E;
  --gradiantHome: radial-gradient(48.82% 72.42% at 50% 50%, #268369 0%, #102A3E 100%);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}